$footer-height: rem(220px);

html,
body {
  height: 100%;
}

body {
  background: $color-bg-body;
}

strong {
  font: {
    weight: bold;
    family: $font-family-sans-serif-bold;
  }
}

em {
  font: {
    style: italic;
    family: $font-family-sans-serif-italic;
  }
}

strong em,
em strong {
  font: {
    style: italic;
    weight: bold;
    family: $font-family-sans-serif-bold-italic;
  }
}

.main-container {
  @include outer-container(100%);

  position: relative;
  min-height: 100%;
}

%header-footer-background {
  background: {
    image: url('#{$path-images}/bg-header-footer-lg.png?1');
    repeat: no-repeat;
    position: center top;
    size: cover;
  }
}

.main-header {
  &__container {
    @extend %header-footer-background;
    @include dark-box;
    @include fill-parent;
    @include clearfix;

    padding: 1.5em $layout-gutter 0;

    border: {
      bottom: 1px solid #909193;
    }

    .main-nav {
      @include clearfix;

      clear: left;
      float: left;

      &__list {
        margin: 0;
        padding: 0;
        list-style: none none;
      }

      &__item {
        float: left;
        margin: 0 2em 0 0;
        padding: 0.75em 0;
      }

      &__link {
        &:link,
        &:visited,
        &:hover {
          text: {
            decoration: none;
          }
        }

        &:link,
        &:visited {
          color: $color-text-dark-box;
        }

        &:hover {
          color: $color-text-emphasis;
        }
      }
    }
  }
}

.main-title {
  float: left;
  margin: 0;

  font: {
    weight: normal;
    family: $font-family-sans-serif-light;
  }

  &__link {
    &:link,
    &:visited,
    &:hover {
      color: $color-text-dark-box;

      text: {
        decoration: none;
      }
    }
  }
}

.user-menu {
  $--inactive: #{&}--inactive;
  $--active: #{&}--active;
  $--animating: #{&}--animating;

  display: flex;
  align-items: flex-end;
  float: right;

  text: {
    align: right;
  }

  &__username {
    margin: 0 0 0.5em;
    color: $color-text-emphasis-alt;

    font: {
      size: 1.35em;
      family: $font-family-sans-serif-light;
    }
  }

  &__avatar__container {
    position: relative;
    cursor: pointer;

    &:after {
      @include icon($fa-var-chevron-down);

      vertical-align: bottom;

      font: {
        size: 0.8em;
      }
    }
  }

  &__avatar {
    $avatar-size: 65px;

    display: inline-block;
    margin: 0 0 0 1em;
    width: $avatar-size;
    height: $avatar-size;
    background: $color-bg-grey;
    vertical-align: top;

    border: {
      radius: 50%;
    }
  }

  &__menu {
    @include dropdown-menu(12px, right);

    position: absolute;
    right: 0;
    list-style: none none;

    text: {
      align: left;
    }

    #{$--inactive} & {
      @include slide-start;
    }

    #{$--inactive}#{$--animating} & {
      @include slide-up;
    }

    #{$--active}#{$--animating} & {
      @include slide-down;
    }

    &__item {
      @include dropdown-menu-item;
    }
  }

  &__stats {
    margin: 0;

    font: {
      size: $font-size-small;
    }

    &__label {
      display: inline-block;
      color: $color-text-subdued;
      margin: 0 0 0 1em;

      &:after {
        content: ':';
      }
    }

    &__value {
      display: inline-block;
      margin: 0;

      font: {
        weight: bold;
        family: $font-family-sans-serif-bold;
      }
    }
  }
}

.secondary-nav {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  $__link: #{&}__link;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $layout-gutter;
  background: linear-gradient(0deg, #d7dadf, #ebecf0 15px);

  border: {
    width: 1px;
    style: solid none;
    color: #fdfeff;
  }

  &__list {
    @include clearfix;

    margin: 0;
    padding: 0.75em 0;
    list-style: none none;
  }

  #{$__link} {
    cursor: pointer;

    font: {
      size: $font-size-small;
    }

    &:link,
    &:visited,
    &:hover {
      text: {
        decoration: none;
      }
    }

    &:link,
    &:visited {
      color: $color-text;
    }

    &:hover {
      color: $color-text-emphasis;
    }
  }

  &__item {
    float: left;
    margin: 0 1em 0 0;

    &--upload {
      #{$__link} {
        font: {
          weight: bold;
          family: $font-family-sans-serif-bold;
        }

        text: {
          transform: uppercase;
        }
      }
    }

    &--profile {
      #{$__link} {
        margin: {
          left: 1em;
        }

        font: {
          style: italic;
          family: $font-family-sans-serif-italic;
        }
      }
    }

    &--signout {
      border: {
        left: 1px solid $color-text;
      }

      padding: {
        left: 1em;
      }

      font: {
        weight: bold;
        family: $font-family-sans-serif-bold;
      }
    }
  }

  &__search {
    text: {
      align: right;
    }
  }
}

.main-content {
  @include fill-parent;

  clear: both;
  padding: 1em $layout-gutter ($footer-height + 1rem);

  box: {
    sizing: border-box;
  }
}

.main-footer {
  @extend %header-footer-background;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: $footer-height;
  padding: 2rem 0;
  color: $color-text-subdued;

  font: {
    size: $font-size-small;
  }

  text: {
    align: center;
  }

  .main-nav {
    margin: 1.5em 0;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none none;
    }

    &__item {
      display: inline-block;
      margin: 0 3ex;
      padding: 0;

      text: {
        transform: uppercase;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    &__link {
      &:link,
      &:visited,
      &:hover {
        color: $color-text-subdued;
      }

      &:link,
      &:visited {
        text: {
          decoration: none;
        }
      }

      &:hover {
        text: {
          decoration: underline;
        }
      }
    }
  }

  &__title {
    color: $color-text-emphasis-alt;

    font: {
      size: $font-size-title;
      family: $font-family-sans-serif-light;
    }
  }

  &__copyright,
  &__activity,
  &__stats {
    margin: 0.75em 0;

    font: {
      family: $font-family-serif;
    }
  }

  &__stats {
    margin: 0;
    padding: 0;

    &__label,
    &__value {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    &__label {
      &:after {
        content: ':';
      }
    }
  }
}

.search-box {
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  background: $color-bg-search-box;

  &__input {
    border: none;
    padding: 5px;
    background: transparent;
    color: $color-white;

    &::placeholder {
      color: $color-white;

      font: {
        weight: bold;
        family: $font-family-sans-serif-bold;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    white-space: nowrap;
    border: none;
    background: $color-text-emphasis-alt;
    color: $color-white;

    padding: 0.25em 2em;

    font: {
      weight: bold;
      style: italic;
      size: $font-size-small;
      family: $font-family-sans-serif-bold-italic;
    }

    &:hover {
      background: $color-text-emphasis;
    }

    &:before {
      @include icon($fa-var-search);

      color: $color-text;

      font: {
        style: normal;
      }
    }
  }
}
