body {
  background: $color-bg-body;
}

.main-container {
  @include outer-container(100%);
}

.main-header {
  @include dark-box;
  @include fill-parent;
  @include clearfix;

  padding: 1.5em $layout-gutter 0;

  .main-nav {
    @include clearfix;

    clear: left;
    float: left;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none none;
    }

    &__item {
      float: left;
      margin: 0 3em 0 0;
      padding: 0.75em 0;
    }

    &__link {
      &:link,
      &:visited,
      &:hover {
        text: {
          decoration: none;
        }
      }

      &:link,
      &:visited {
        color: $color-text-dark-box;
      }

      &:hover {
        color: $color-text-emphasis;
      }
    }
  }
}

.main-title {
  float: left;
  margin: 0;

  font: {
    weight: normal;
  }

  &__link {
    &:link,
    &:visited,
    &:hover {
      color: $color-text-dark-box;

      text: {
        decoration: none;
      }
    }
  }
}

.user-menu {
  @include display(flex);
  @include align-items(flex-end);

  $--inactive: #{&}--inactive;
  $--active: #{&}--active;
  $--animating: #{&}--animating;

  float: right;

  text: {
    align: right;
  }

  &__username {
    margin: 0 0 0.25em;
    color: $color-text-emphasis;

    font: {
      size: 1.15em;
    }
  }

  &__avatar__container {
    position: relative;
    cursor: pointer;

    &:after {
      @include icon($fa-var-chevron-down);

      vertical-align: bottom;

      font: {
        size: 0.8em;
      }
    }
  }

  &__avatar {
    $avatar-size: 65px;

    display: inline-block;
    margin: 0 0 0 1em;
    width: $avatar-size;
    height: $avatar-size;
    background: $color-bg-grey;
    vertical-align: top;

    border: {
      radius: 50%;
    }
  }

  &__menu {
    @include dropdown-menu(12px, right);

    position: absolute;
    right: 0;
    list-style: none none;

    text: {
      align: left;
    }

    #{$--inactive} & {
      @include slide-start;
    }

    #{$--inactive}#{$--animating} & {
      @include slide-up;
    }

    #{$--active}#{$--animating} & {
      @include slide-down;
    }

    &__item {
      @include dropdown-menu-item;
    }
  }

  &__stats {
    margin: 0;

    font: {
      size: $font-size-small;
    }

    &__label {
      display: inline-block;
      color: $color-text-subdued;
      margin: 0 0 0 1em;

      &:after {
        content: ':';
      }
    }

    &__value {
      display: inline-block;
      margin: 0;

      font: {
        weight: bold;
      }
    }
  }
}

.main-content {
  @include fill-parent;

  clear: both;
  padding: 1em $layout-gutter;

  box: {
    sizing: border-box;
  }
}

.main-footer {
  clear: both;
  color: $color-text-subdued;

  margin: {
    top: 3em;
  }

  font: {
    size: $font-size-small;
  }

  text: {
    align: center;
  }

  .main-nav {
    margin: 1em 0;
    color: $color-text;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none none;
    }

    &__item {
      display: inline-block;
      margin: 0;
      padding: 0;

      font: {
        weight: bold;
      }

      text: {
        transform: uppercase;
      }

      &:before {
        content: '•';
        display: inline-block;
        margin: 0 1.5ex;

        font: {
          size: $font-size-small;
        }
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    &__link {
      &:link,
      &:visited,
      &:hover {
        color: $color-text;
      }

      &:link,
      &:visited {
        text: {
          decoration: none;
        }
      }

      &:hover {
        text: {
          decoration: underline;
        }
      }
    }
  }

  &__stats {
    margin: 0;
    padding: 0;

    &__label,
    &__value {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    &__label {
      &:after {
        content: ':';
      }
    }
  }
}
