.at-form {
  .at-input {
    margin: 1em 0;

    label {
      display: none;
    }

    input {
      width: 100%;
    }
  }

  .at-btn {
    &.submit {
      width: 100%;
    }
  }

  .at-error {
    @include slide-down;

    padding: 0 10px;
    background: $color-bg-error;

    border: {
      radius: 4px;
    }

    p {
      margin: 0.25em 0;
    }
  }
}
