$color-bg-body: #293035;
$color-bg-main-container: #fdfdfd;
$color-bg-menu: rgba(41, 48, 53, 0.8);
$color-bg-grey: #e8e8e8;
$color-bg-main-content: #e2e2e2;
$color-bg-error: #d9534f;
$color-white: #fff;
$color-black: #000;
$color-text: $color-black;
$color-text-subdued: #aec0c6;
$color-text-emphasis: #e95242;

$font-size-small: 0.8em;

$layout-gutter: 20px;

$animation-slide-offset: -15%;
