$footer-height: rem(220px);

html,
body {
  height: 100%;
}

body {
  background: $color-bg-body;

  font: {
    family: $font-family-base;
  }

  line-height: 1.5;
}

strong {
  font: {
    family: $font-family-sans-serif-bold;
  }
}

em {
  font: {
    family: $font-family-sans-serif-italic;
  }
}

strong em,
em strong {
  font: {
    family: $font-family-sans-serif-bold-italic;
  }
}

.main-container {
  @include outer-container(100%);

  min-height: 100%;
  position: relative;
}

%header-footer-background {
  background: {
    image: url('#{$path-images}/bg-header-footer-lg.png?1');
    position: center top;
    repeat: no-repeat;
    size: cover;
  }
}

.main-nav {
  $__level1: #{&}__level1;
  $__level1__item: #{$__level1}__item;
  $__level1__link: #{$__level1}__link;
  $__level1__submenu: #{$__level1}__submenu;
  $__level2: #{&}__level2;
  $__level3: #{&}__level3;

  #{$__level1} {
    list-style: none none;
    margin: 0;
    padding: 0;
  }

  #{$__level1__item} {
    display: inline-block;
    margin: 0 2em 0 0;
    padding: 0 0 0.75em;
    position: relative;
  }

  #{$__level1__item}--submenu #{$__level1__link}:after {
    @include icon($fa-var-chevron-down);

    font: {
      size: 0.75rem;
    }

    margin: {
      left: 0.25em;
    }
  }

  #{$__level1__link} {
    &:link,
    &:visited,
    &:hover {
      text: {
        decoration: none;
      }
    }

    &:link,
    &:visited {
      color: $color-text-dark-box;
    }

    &:hover {
      color: $color-text-emphasis;
    }
  }

  #{$__level1__submenu} {
    @include slide-start;

    position: absolute;
    right: 0.375em;
  }

  #{$__level1__item}--expanded #{$__level1__submenu} {
    @include slide-stop;
  }

  #{$__level1__item}--animating #{$__level1__submenu} {
    @include slide-up;
  }

  #{$__level1__item}--animating#{$__level1__item}--expanded #{$__level1__submenu} {
    @include slide-down;
  }

  #{$__level2} {
    @include dropdown-menu;

    list-style: none none;
    transform: translateX(50%) translateY(1.25em);
  }

  #{$__level3} {
    list-style: none none;
    margin: 0.5em 0 0 1em;
    padding: 0;
  }

  #{$__level2},
  #{$__level3} {
    &__item {
      @include dropdown-menu-item;
    }
  }
}

.main-header {
  &__container {
    $_color-border: #909193;

    @extend %header-footer-background;
    @include dark-box;
    @include fill-parent;
    @include clearfix;

    border: {
      bottom: 1px solid $_color-border;
    }

    padding: 1.5em $layout-gutter 0;
  }

  .main-nav {
    $__level1: #{&}__level1;

    clear: left;
    float: left;
  }
}

.main-title {
  float: left;

  font: {
    family: $font-family-sans-serif-light;
    weight: normal;
  }

  margin: 0;

  &__link {
    &:link,
    &:visited,
    &:hover {
      color: $color-text-dark-box;

      text: {
        decoration: none;
      }
    }
  }
}

.user-menu {
  $--inactive: #{&}--inactive;
  $--active: #{&}--active;
  $--animating: #{&}--animating;

  align-items: flex-end;
  display: flex;
  float: right;
  padding: 0.25em 0 0;

  text: {
    align: right;
  }

  &__username {
    color: $color-text-emphasis-alt;

    font: {
      family: $font-family-sans-serif-light;
      size: 1.375em;
    }

    margin: 0 0 0.375rem;
  }

  &__avatar__container {
    cursor: pointer;
    position: relative;

    &:after {
      @include icon($fa-var-chevron-down);

      font: {
        size: $font-size-small;
      }

      vertical-align: bottom;
    }
  }

  &__avatar {
    $_avatar-size: 66px;

    background: $color-bg-grey;

    border: {
      radius: 50%;
    }

    display: inline-block;
    height: $_avatar-size;
    margin: 0 0 0 1em;
    vertical-align: top;
    width: $_avatar-size;
  }

  &__menu {
    @include dropdown-menu(12px, right);

    list-style: none none;
    position: absolute;
    right: 0;

    text: {
      align: left;
    }

    #{$--inactive} & {
      @include slide-start;
    }

    #{$--inactive}#{$--animating} & {
      @include slide-up;
    }

    #{$--active}#{$--animating} & {
      @include slide-down;
    }

    &__item {
      @include dropdown-menu-item;
    }
  }

  &__stats {
    font: {
      size: $font-size-small;
    }

    margin: 0;

    &__label {
      color: $color-text-subdued;
      display: inline-block;
      margin: 0 0 0 1em;

      &:after {
        content: ':';
      }
    }

    &__value {
      display: inline-block;

      font: {
        family: $font-family-sans-serif-bold;
      }

      margin: 0;
    }
  }
}

.secondary-nav {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  $__link: #{&}__link;
  $_color-bg-gradient-start: #d7dadf;
  $_color-bg-gradient-end: #ebecf0;
  $_color-border: #fdfeff;

  align-items: center;
  background: linear-gradient(0deg, $_color-bg-gradient-start, $_color-bg-gradient-end 15px);

  border: {
    color: $_color-border;
    style: solid none;
    width: 1px;
  }

  display: flex;
  justify-content: space-between;
  padding: 0 $layout-gutter;

  &__list {
    @include clearfix;

    list-style: none none;
    margin: 0;
    padding: 0.75em 0;
  }

  #{$__link} {
    cursor: pointer;

    font: {
      size: $font-size-small;
    }

    &:link,
    &:visited,
    &:hover {
      text: {
        decoration: none;
      }
    }

    &:link,
    &:visited {
      color: $color-text;
    }

    &:hover {
      color: $color-text-emphasis;
    }
  }

  &__item {
    float: left;
    line-height: 1;
    margin: 0 1em 0 0;
    padding: 0 0 0.125em;

    &--upload {
      #{$__link} {
        font: {
          family: $font-family-sans-serif-bold;
        }

        text: {
          transform: uppercase;
        }
      }
    }

    &--profile {
      #{$__link} {
        font: {
          family: $font-family-sans-serif-italic;
        }

        margin: {
          left: 1em;
        }
      }
    }

    &--signout {
      border: {
        left: 1px solid $color-text;
      }

      font: {
        family: $font-family-sans-serif-bold;
      }

      padding: {
        left: 1em;
      }
    }
  }

  &__search {
    text: {
      align: right;
    }
  }
}

.main-content {
  @include fill-parent;

  box: {
    sizing: border-box;
  }

  clear: both;
  padding: 1em $layout-gutter ($footer-height + 1rem);
}

.main-footer {
  @extend %header-footer-background;

  bottom: 0;
  box-sizing: border-box;
  color: $color-text-subdued;

  font: {
    size: $font-size-small;
  }

  height: $footer-height;
  left: 0;
  padding: 2rem 0;
  position: absolute;
  right: 0;

  text: {
    align: center;
  }

  .main-nav {
    margin: 1.5em 0;

    &__level1 {
      list-style: none none;
      margin: 0;
      padding: 0;

      &__item {
        margin: 0 3ex;
        padding: 0;

        text: {
          transform: uppercase;
        }
      }
    }
  }

  &__title {
    color: $color-text-emphasis-alt;

    font: {
      family: $font-family-sans-serif-light;
      size: $font-size-title;
    }
  }

  &__copyright,
  &__activity,
  &__stats {
    font: {
      family: $font-family-serif;
    }

    margin: 0.75em 0;
  }

  &__stats {
    margin: 0;
    padding: 0;

    &__label,
    &__value {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    &__label {
      &:after {
        content: ':';
      }
    }
  }
}

.search-box {
  align-items: stretch;
  background: $color-bg-search-box;
  display: flex;
  flex-wrap: nowrap;

  &__input {
    background: transparent;
    border: 0;
    color: $color-white;
    height: 1em;
    padding: 0.375em;

    &::placeholder {
      color: $color-white;

      font: {
        family: $font-family-sans-serif-bold;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    background: $color-text-emphasis-alt;
    border: 0;
    color: $color-white;

    font: {
      family: $font-family-sans-serif-bold-italic;
      size: $font-size-small;
    }

    padding: 0.25em 2em;
    white-space: nowrap;

    &:hover {
      background: $color-text-emphasis;
    }

    &:before {
      @include icon($fa-var-search);

      color: $color-text;

      font: {
        style: normal;
      }
    }
  }
}
