$color-bg-body: #f9f9f9;
$color-bg-menu: rgba(41, 48, 53, 0.8);
$color-bg-grey: #e8e8e8;
$color-bg-dark-box: #212728;
$color-bg-error: #d9534f;
$color-bg-search-box: #161d1e;
$color-white: #fff;
$color-black: #000;
$color-text: $color-black;
$color-text-subdued: #aec0c6;
$color-text-emphasis: #e95242;
$color-text-emphasis-alt: #60bfaf;
$color-text-dark-box: #ededef;

$font-size-title: 2rem;
$font-size-small: 0.75rem;

$font-family-sans-serif: 'Lato Regular', sans-serif;
$font-family-sans-serif-light: 'Lato Light', sans-serif;
$font-family-sans-serif-bold: 'Lato Bold', sans-serif;
$font-family-sans-serif-italic: 'Lato Italic', sans-serif;
$font-family-sans-serif-bold-italic: 'Lato Bold Italic', sans-serif;

$font-family-serif: 'Merriweather Light', serif;

$font-family-base: $font-family-sans-serif;

$layout-gutter: 1.875em;

$animation-slide-offset: -15%;

$path-package: '/packages/meteor-gazelle_theme';
$path-images: '#{$path-package}/images';
