<template name="footer">
  <footer class="main-footer" role="contentinfo">
    {{> nav}}

    <div class="main-footer__copyright">
      Site &amp; Design © {{year}} Gazelle
    </div>

    <div class="main-footer__activity">
      Last Activity: XXXX
    </div>

    <dl class="main-footer__stats">
      <dt class="main-footer__stats__label">Time</dt>
      <dd class="main-footer__stats__value">XXXX</dd>

      <dt class="main-footer__stats__label">Used</dt>
      <dd class="main-footer__stats__value">XXXX</dd>

      <dt class="main-footer__stats__label">Load</dt>
      <dd class="main-footer__stats__value">XXXX</dd>

      <dt class="main-footer__stats__label">Date</dt>
      <dd class="main-footer__stats__value">{{date}}</dd>

      <dt class="main-footer__stats__label">Rev</dt>
      <dd class="main-footer__stats__value">XXXX</dd>
    </dl>
  </footer>
</template>
